---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Areas of Expertise" />
		<p>
			<strong>Technical Skills:</strong> Angular (latest versions), TypeScript, HTML5, CSS3, JavaScript (ES6+), RxJS, RESTful APIs, NgRx (state management), Jasmine/Karma/Jest (testing), Bootstrap, Angular Material, Responsive Design, Git, GitHub/GitLab (version control).
		  </p>
		  <p>
			<strong>Development Tools:</strong> Angular CLI, Node.js, npm, Webpack.
		  </p>
		  <p>
			<strong>Soft Skills:</strong> Problem-solving, collaboration, attention to detail, communication.
		  </p>
		  <p>
			<strong>Additional Skills:</strong> PrimeNG, CI/CD, SEO optimization, Google Maps API.
		  </p>		  
	</div>
</section>
