---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt=""
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About Me" />
			<p class="about__text">
				I’m a passionate web developer specializing in Angular, turning ideas into seamless digital experiences. I enjoy exploring new technologies, reading about development trends, and contributing to open-source projects.

In my free time, I love park walks, experimenting with cooking, and diving into mystery novels. I chose this field to blend creativity with problem-solving and to keep learning and growing.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
